<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Owners Home</title>
</head>
<body>
    <h1 th:text="'List of Owners'">Owners List</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="owner : ${owners}">
                <th th:text="${owner?.id}">1</th>
                <th th:text="${owner?.firstName}">Joe</th>
                <th th:text="${owner?.lastName}">Buck</th>
            </tr>
        </tbody>
    </table>
</body>
</html>